    *{
        margin: 0;
        padding: 0;
    }
    header{
        background-image: url(../img/img/fundo-topo.jpg);
        text-align: center;
        padding: 10px 0;
    }
    header h1{
        margin: 0;
        height: 84px;
    }
    nav{
        text-align: center;
        padding: 15px 0;
    }
    
    nav li{
        display: inline;
        background-repeat: no-repeat;
        background-image: url(../img/patinha-preta.png);
        padding-right: 27px;
        margin-right: 10px;
        background-position: center right;
    }
    
    nav a{
        text-decoration: none;
        color: black;
    }
    nav a:hover{
        color: #6dd463;
    }
    #item_contato{
        background-image: none;
        padding: 0;
        margin: 0;
    }
    
    .fundo-verde{
        background-color: #bdff9c;
    }
    
    .container{
        width: 900px;
        margin: 0 auto;
        padding: 56px 0;
    }
    
    .flex-container{
        display: flex;
        justify-content: space-between;
    }
    
    .flex-container .col{
        width: 430px;
    }
    .produto{
        width: 235px;
    }

    .produto figure{
        border: 1px solid #c4c4c4;
        background-color: #fff;
        margin: 0 0 15px 0;
        padding: 0;
        text-align: center;
        height: 160px;
        line-height: 160px;
    }

    .produto figure img{
        vertical-align: middle;
    }

    .texto-centralizado{
        text-align: center;
    }

    .btn-pata{
        border: 1px solid #91e467;
        background-color: #d2fbbd;
        text-decoration: none;
        color: #000;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
    }

    #produto .flex-container{
        margin-top: 43px;
    }
    h2{
        margin-bottom: 10px;
    }